.containerListSongs{
    display: grid;
    gap: 10px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.containerListSongs.grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.containerListSongs.list {
    grid-template-columns: 1fr;
}

@media (width < 900px){
    .containerListSongs.grid {
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
        gap: 10px;
    }
}