.aside {
    width: 300px;
    height: 100%;
    padding: 0 1rem;
    display: grid;
    grid-template-rows: 57px 35% calc(65% - 67px);
    grid-template-columns: 100%;
    align-items: end;
    justify-content: center;
    padding-bottom: 52px;
}