.MainContainerApp .mainSidebar {
  width: 223px;
  display: flex;
}
.MainContainerApp .sidebar {
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 20px;
    padding: 1rem;
    position: relative;
    text-align: left;
}
/* Inicio estilos del perfil */
    .containerDataUser .imageUser {
        border-radius: 15px;
    }

    .containerDataUser {
        text-align: left;
    }

    .containerDataUser .nameUser {
        font-weight: 700;
        font-size: 18px;
    }
/* Fin estilos del perfil */

.sidebar .title {
  font-weight: 700;
}
.containerMenu {
  margin-top: 10px;
}

.containerMenu .ItemMenu {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  padding: .5rem 0;
  color: var(--color-secundario-text);
  font-weight: 600;
  cursor: pointer;
}

.containerMenu .ItemMenu.active,
.containerMenu .ItemMenu:hover {
  color: var(--color-general-text);
}

.containerMenu .ItemMenu .icon {
  display: flex;
  align-items: center;
}

.sidebar hr {
  border-bottom: 1px solid #333;
}

.MenuClose {
  position: absolute;
  background-color: transparent;
  top: 10px;
  right: -50px;
  border: #333;
  display: none;
}
.MainContainerApp .MenuOpen {
  padding: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  display: none;
  background-color: transparent;
  transition: opacity 0.5s linear;
}

@media (width < 900px){
  .MainContainerApp .mainSidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 3;
    transform: translateX(-120%);
    transition: opacity 0.5s linear, transform 0.5s ease;
  }

  .MainContainerApp .aside {
    display: none;
  }
  
  .MainContainerApp .sidebar {
    width: 50%;
    box-shadow: 0 0 4px rgba(255, 255, 255, .4);
    background-color: rgba(0,0,0, .96);
  }

  .MainContainerApp .mainSidebar.menuActive {
    transform: translateX(-5px); 
    background: rgba(0,0,0, .6);
  }

  .MainContainerApp .MenuOpen {
      opacity: 1;
      display: block;
  }

  .MainContainerApp .mainSidebar.menuActive .MenuClose {
      display: block;
  }
}