.containerBanner {
    padding: 30px;
}

.imgsBanner {
    height: 300px;
    width: 90%;
    margin: 0 5px;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.flicking-arrow-prev::before,
.flicking-arrow-prev::after,
.flicking-arrow-next::before,
.flicking-arrow-next::after {
    content: "";
    left: 35%;
    width: 18px;
    height: 6px;
    position: absolute;
    background-color: #FFF;
}

.flicking-arrow-prev,
.flicking-arrow-next
{
    background-color: rgba(0,0,0,.4);
    box-shadow: 0 0 7px rgba(255,255,255,.4);
    border-radius: 50%;
}

@media (width < 900px){
    .containerBanner {
        padding: 5px;
    }   

    .imgsBanner {
        height: 200px;
    }
}