:root{
  --color-general-backgroud: rgba(0, 0, 0, .1);
  --color-backgroud-hover: rgba(255, 255, 255, .1);
  --color-general-text: #fff;
  --color-secundario-text: gray;
}

#root {
  max-width: 1280px;
  margin: 0;
  padding: .5rem;
  text-align: center;
  max-width: 100vw;
  max-height: 97vh;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}

.MainContainerApp {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 8px;
  background-color: var(--color-general-backgroud);
  display: flex;
}

.MainContainerApp .content {
  width: calc(100% - 223px);
}

.m-t-30 {
  margin-top: 30px;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

@media (width < 900px){
  .MainContainerApp .content {
    width: 100%;
  }
}