.containerListEpisodes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.itemSongEpisode {
  width: auto;
  padding: 10px;
  border-bottom: 1px solid var(--color-backgroud-hover);
}

.itemSongEpisode:hover {
  border-bottom: 0px;
}

.itemSongEpisode .containerImg img{
  width: 150px;
  max-width: max-content !important;
}

.basicEpisodeInformation {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 15px;
  gap: 7px;
  width: 100%;
}

.basicEpisodeInformation p {
  margin: 0;
}

.nameEpisode {
  font-size: 1.1em;
  font-weight: bold;
}

.descriptionEpisode{
  font-size: 0.9em;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
}

.episodeActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.episodeActions .playSong {
  border-radius: 50%;
  border: 1px solid;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.episodeActions .playSong svg {
  width: 20px;
}

.episodeActions .playSong:hover {
  transform: scale(1.15);
}

.containerListEpisodes.list .itemSong .containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerListEpisodes.list .itemSong img {
  max-width: 70px;
  border-radius: 10px;
  transition: 1s;
}

.containerListEpisodes.list .itemSong:hover img {
  transform: scale(.9);
  transition: 1s;
}

.containerListEpisodes.list .itemSong:hover {
  background-color: var(--color-backgroud-hover);
  border-radius: 9px;
  transition: 1s;
}

@media (max-width: 768px) {
  .containerListEpisodes {
    padding: 5px;
  }
  .itemSongEpisode {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: start;
  }

  .itemSongEpisode .containerImg {
    justify-content: flex-start !important;
    padding: 15px;
  }
  .basicEpisodeInformation {
    padding: 0;
  }
}