.containerPlayer {
    background-color: var(--color-backgroud-hover);
    border-radius: 40px;
    padding: 1.5rem;
    max-width: 280px;
    max-height: 423px;
}

.containerPlayer .containerPreview {
    padding: 1rem;
    border-radius: 30px;
    margin-bottom: 10px;
    background-color: var(--color-backgroud-hover);
}

.containerPlayer .containerPreview img {
    width: 200px;
    border-radius: 16px;
}

.containerPlayer .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}

.containerPlayer .controls button {
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
}

.containerPlayer .controls .secondaryButtons svg{
    fill: none;
    border: none;
}

.containerPlayer .controls .mainButtons svg{
    width: 120%;
    height: 120%;
    border: none;
}

.containerPlayer .controls .secondaryButtons svg{
    color: gray;
}

.containerPlayer .player .sliderSong {
    width: 100%;
}